@import "light-base";
@import "dark-base";

@mixin vishraamStyles($visraam, $yamki) {
  $visraam-main: $visraam;
  $visraam-yamki: $yamki;

  .vishraam-colored.slide-gurbani {
    .vishraam-v {
      color: $visraam-main;
    }

    .vishraam-y {
      color: $visraam-yamki;
    }
  }

  .vishraam-gradient.slide-gurbani {
    span {
      border-radius: 15px;
    }

    .padchhed .vishraam-v,
    .padchhed .vishraam-y {
      padding-right: 5px;
    }

    .vishraam-v {
      background: linear-gradient(
        to right,
        rgba(229, 229, 229, 0) 20%,
        rgba($visraam-main, 0.7) 100%
      );
    }

    .vishraam-y {
      background: linear-gradient(
        to right,
        rgba(229, 229, 229, 0) 20%,
        rgba($visraam-yamki, 0.7) 100%
      );
    }
  }

  .larivaar-assist-single-color.slide-gurbani {
    .larivaar span:nth-of-type(even) {
      opacity: 0.75;
    }
  }

  .larivaar-assist-multi-color.slide-gurbani {
    .larivaar span:nth-of-type(even) {
      color: $yamki;
    }
  }
}

@mixin generateTheme(
  $type,
  $background-color,
  $gurbani,
  $translation,
  $teeka,
  $transliteration,
  $visraam,
  $yamki
) {
  @if $type == "light" {
    @include light-base();
  } @else {
    @include dark-base();
  }

  background-color: $background-color;

  .slide-gurbani {
    color: $gurbani;
  }

  .slide-translation {
    color: $translation;
  }

  .slide-teeka {
    color: $teeka;
  }

  .slide-transliteration {
    color: $transliteration;
  }

  @include vishraamStyles($visraam, $yamki);
}
