$themeFloral: (
  type: 'light',
  background-color: #a4244e,
  gurbani: #460a1e,
  translation: #821d3e,
  teeka: #484848,
  transliteration: #a4244e,
  visraam: #d90e0e,
  yamki: #78770e,
);

.theme-floral {
  #ribbon1,
  #ribbon2 {
    visibility: visible;
  }

  @include generateTheme($themeFloral...);
}
