body.khalsa-gold {
  background-color: #fff;
  background-image: url('images/clouds.png');

  .gurbani {
    color: #0e2654;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.7);
  }

  .translation {
    color: #003a8c;
  }

  .teeka {
    color: #033780;
  }

  .transliteration {
    color: #80878a;
  }

  .logo path {
    fill: #e0e0e0;
  }
}
