.theme-baagi-blue {
  background-color: #7db6c7;
  background-image: url('images/dark-blue.jpg');

  .slide-gurbani {
    color: #fff;
    text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.7);
  }

  .slide-translation {
    color: #fbfbfb;
  }

  .slide-teeka {
    color: #a0d5fe;
  }

  .slide-transliteration {
    color: #f4f4f9;
  }

  .logo path {
    fill: #e0e0e0;
  }
}
