.theme-black-blue {
  background-color: #05060b;
  background-image: url('images/black.jpg');

  .slide-gurbani {
    color: #fff;
  }

  .slide-translation {
    color: #a3eafd;
  }

  .slide-teeka {
    color: #7a7a7c;
  }

  .slide-transliteration {
    color: #ededef;
  }

  .logo path {
    fill: #e0e0e0;
  }
}
