.theme-dark-theme {
  background-color: #000;

  .slide-gurbani {
    color: #fff;
  }

  .slide-translation {
    color: #e2e2e2;
  }

  .slide-teeka {
    color: #c6c6c6;
  }

  .slide-transliteration {
    color: #ababab;
  }

  .logo path {
    fill: #212121;
  }
}
