.theme-floral {
  background-color: #a4244e;
  background-image: url('images/floral-bg.jpg');

  #ribbon1,
  #ribbon2 {
    visibility: visible;
  }

  .slide-gurbani {
    color: #460a1e;
  }

  .slide-translation {
    color: #821d3e;
  }

  .slide-teeka {
    color: #484848;
  }

  .slide-transliteration {
    color: #a4244e;
  }

  .logo path {
    fill: #e0e0e0;
  }
}
