/*
  Fonts
*/

@font-face {
  font-family: "gurbaniakhar";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/gurbaniakhartrue-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "gurbaniakhar";
  font-style: normal;
  font-weight: bold;
  src: url("fonts/gurbaniakharheavytrue-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "gurbaniakharthick";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/gurbaniakharthicktrue-webfont.ttf") format("truetype");
}

@font-face {
  font-family: 'AnmolUniBaniTrue';
  font-style: normal;
  font-weight: normal;
  src: url("fonts/AnmolUniBaniTrue.ttf") format("truetype");
}
