body.high-contrast {
  background-color: #fff;

  .gurbani {
    color: #000;
  }

  .translation {
    color: #000;
  }

  .teeka {
    color: #000;
  }

  .transliteration {
    color: #000;
  }

  .logo path {
    fill: #212121;
  }
}
