.theme-high-contrast {
  background-color: #fff;

  .slide-gurbani {
    color: #000;
  }

  .slide-translation {
    color: #000;
  }

  .slide-teeka {
    color: #000;
  }

  .slide-transliteration {
    color: #000;
  }

  .logo path {
    fill: #212121;
  }
}
