body.khalsa-rush {
  background-color: #fec43c;
  background-image: url('images/orange.png');

  .gurbani {
    color: #071f77;
  }

  .translation {
    color: #001060;
  }

  .teeka {
    color: #433e5d;
  }

  .transliteration {
    color: #f7faf6;
  }

  .logo path {
    fill: #e0e0e0;
  }
}
