.theme-theme-khalsa-rush {
  background-color: #fec43c;
  background-image: url('./images/orange.jpg');

  .slide-gurbani {
    color: #071f77;
  }

  .slide-translation {
    color: #001060;
  }

  .slide-teeka {
    color: #433e5d;
  }

  .slide-transliteration {
    color: #f7faf6;
  }

  .logo path {
    fill: #e0e0e0;
  }
}
