.theme-light-theme {
  background-color: #fff;

  .slide-gurbani {
    color: #01579b;
  }

  .slide-translation {
    color: #4e4e4e;
  }

  .slide-teeka {
    color: #5a5a5a;
  }

  .slide-transliteration {
    color: #666;
  }

  .logo path {
    fill: #e0e0e0;
  }
}
