.theme-low-light {
  background-color: #000;

  .slide-gurbani {
    color: #98b1c5;
  }

  .slide-translation {
    color: #b1b1b1;
  }

  .slide-teeka {
    color: #b1b1b1;
  }

  .slide-transliteration {
    color: #b1b1b1;
  }

  .logo path {
    fill: #212121;
  }
}
