body.low-light {
  background-color: #000;

  .gurbani {
    color: #98b1c5;
  }

  .translation {
    color: #b1b1b1;
  }

  .teeka {
    color: #b1b1b1;
  }

  .transliteration {
    color: #b1b1b1;
  }

  .logo path {
    fill: #212121;
  }
}
