body.khalsa-gold {
  background-color: #fff;
  background-image: url('images/blue.png');

  .gurbani {
    color: #fcfefe;
  }

  .translation {
    color: #fde5ab;
  }

  .teeka {
    color: #86a3ba;
  }

  .transliteration {
    color: #f1f5f4;
  }

  .logo path {
    fill: #e0e0e0;
  }
}
