$viewer-padding: 30px;

.ribbon {
  background-image: url("images/embellishes/floral.png");
  height: 100px;
  position: fixed;
  visibility: hidden;
  width: 100px;
}

#ribbon1 {
  left: 25px;
  top: 25px;
  transform: rotate(90deg);
}

#ribbon2 {
  bottom: 25px;
  right: 25px;
  transform: rotate(270deg);
}

@import
  "display-next-line",
  "fonts",
  "light-theme",
  "dark-theme",
  "khalsa-gold",
  "khalsa-rush",
  "baagi-blue",
  "black-blue",
  "moody-blue",
  "a-new-day",
  "floral",
  "blue-darbar",
  "high-contrast",
  "low-light",
  "nirbaan",
  "dhan-guru-nanak";

/* Custom Styles */
html {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-color: black;
  background-size: cover;
  color: #222;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: relative;
}

html,
body {
  font-size: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

// DEBUG INFO WHEN DEBUGGING THE APP
.debug-info {
  background: rgba(255, 0, 0, 0.5);
  bottom: 0;
  color: white;
  display: none;
  font-size: 14px;
  height: 50vh;
  left: 0;
  padding: 5px;
  position: fixed;
  width: 100vw;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@keyframes blank {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes backlight {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#viewer {
  margin: 0;
  overflow: auto;
  text-align: center;
}

/* ***** FONT SIZES ***** */
@for $i from 1 through 20 {
  .gurbani-#{$i} .gurbani,
  .translation-#{$i} .translation,
  .transliteration-#{$i} .transliteration,
  .teeka-#{$i} .teeka {
    font-size: #{$i}vh;
  }
}

.logo {
  left: 12px;
  position: fixed;

  path {
    fill: #c8c8c8;
  }
}

#viewer-logo {
  bottom: 20px;
  display: block;
  height: 3.5%;
  top: auto;
}

@import './themes/themes';
@import './viewer.scss';
