$viewer-padding: 30px;

.ribbon {
  background-image: url("images/embellishes/floral.png");
  height: 100px;
  position: fixed;
  visibility: hidden;
  width: 100px;
}

#ribbon1 {
  left: 25px;
  top: 25px;
  transform: rotate(90deg);
}

#ribbon2 {
  bottom: 25px;
  right: 25px;
  transform: rotate(270deg);
}

@import
  "display-next-line",
  "fonts",
  "light-theme",
  "dark-theme",
  "khalsa-gold",
  "khalsa-rush",
  "baagi-blue",
  "black-blue",
  "moody-blue",
  "a-new-day",
  "floral",
  "blue-darbar",
  "high-contrast",
  "low-light",
  "dhan-guru-nanak";

/* Custom Styles */
html {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-color: black;
  background-size: cover;
  color: #222;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: relative;
}

html,
body {
  font-size: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

// DEBUG INFO WHEN DEBUGGING THE APP
.debug-info {
  display: none;
  width: 100vw;
  height: 50vh;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 5px;
  background: rgba(255,0,0,0.5);
  color: white; 
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@keyframes blank {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes backlight {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#viewer {
  margin: 0;
  overflow: auto;
  padding: 30px;
  text-align: center;
}

.gurmukhi {
  display: inline;
  font-family: "gurbaniakharthick";
}

.left-align #viewer {
  text-align: left;
}

.deck {
  height: calc(100% - 100px);
  opacity: 0;
  overflow: hidden;
  position: absolute;
  transition: opacity 400ms ease-out;
  width: calc(100% - 30px * 2);
}

.deck.active {
  opacity: 1;
}

.slide {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  opacity: 0;
  position: absolute;
  width: 100%;

  &.announcement-slide {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;

    #translation,
    #transliteration,
    #teeka,
    #next-line {
      display: none;
    }
  }

  &.active {
    opacity: 1;
  }
}

h1,
h2 {
  margin: 0;
  transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.gurbani {
  font-weight: normal;
  line-height: 1.5;
}

.gurbani .gurmukhi span {
  white-space: nowrap;
}

.gurbani .gurmukhi span i {
  font-size: 0;
  margin-left: 1rem;
}

.translation,
.transliteration {
  font-weight: 700;
  line-height: 1.5;
}

.transliteration {
  text-transform: lowercase;
}

.teeka {
  font-family: "gurbaniakhar";
  line-height: 1.5;
  margin-top: 0.25em;
}

.translation,
.transliteration,
.teeka,
.next-line {
  display: none;
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.display-translation .translation,
.display-transliteration .transliteration,
.display-teeka .teeka,
.display-next-line .next-line {
  display: block;
  height: auto;
  opacity: 1;
}

.display-next-line .next-line {
  opacity: 0.5;
}

/* ***** FONT SIZES ***** */
@for $i from 1 through 20 {
  .gurbani-#{$i} .gurbani,
  .translation-#{$i} .translation,
  .transliteration-#{$i} .transliteration,
  .teeka-#{$i} .teeka {
    font-size: #{$i}vh;
  }
}

.logo {
  left: 12px;
  position: fixed;

  path {
    fill: #c8c8c8;
  }
}

#viewer-logo {
  bottom: 20px;
  display: block;
  height: 3.5%;
  top: auto;
}

@import './themes/themes';
